<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="Utilities.ExtendReporting"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
<!--       <class name="FailTestCases.TC_01_FailedLoginTest"/> -->
      <class name="PassTestCases.TC_01_LoginTest"/>
<!--       <class name="DataDriverTestCases.TC_01_DataDriverTestCase"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
